:root {
    --dark-purple: rgb(79, 22, 68);
    --light-purple: rgb(160, 10, 130);

    --black: rgb(36, 36, 36);
    --grey: rgb(112, 112, 112);
    --light-grey: rgb(224, 224, 224);
    --lighter-grey: rgb(235, 235, 235);
    --white: rgb(255, 255, 255);

    --menu-description-color: var(--grey);
    --menu-background-color: var(--black);
    --menu-text-color: var(--white);
    --menu-hover-background-color: var(--dark-purple);
    --menu-hover-text-color: var(--white);
    --menu-hover-border-color: var(--light-purple);

    --main-background-color: var(--white);
    --main-h-em-background-color: var(--grey);
    --main-m-em-background-color: var(--light-grey);
    --main-s-em-background-color: var(--lighter-grey);
    --main-text-color: var(--black);

    --main-link-color: var(--light-purple);

    --menu-width: 300px;
    --menu-padding: 24px;
    --main-margin: 20px;
    --bottom-margin: 24px;
    --image-width: var(--menu-width);

    --em-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --rg-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-family: var(--rg-font);
    font-size: 18px;

    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

html, body {
    margin: 0;
    padding: 0;
}

/* --- Base styles --- */

/* Footer */

footer {
    display: flex;
    justify-content: flex-end;

    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-link, .footer-link:visited {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    border-radius: 16px;
    padding: 10px 20px;
    border: 2px solid var(--main-m-em-background-color);

    background-color: var(--main-background-color);
    color: var(--main-m-em-background-color);

    transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover {
    text-decoration: none;
    background-color: var(--main-m-em-background-color);
    color: var(--main-h-em-background-color);
}

/* Main */

main {
    margin-left: calc(var(--menu-width) + var(--main-margin));
    margin-right: var(--main-margin);
    width: calc(100% - var(--menu-width) - 2 * var(--main-margin));
}

h1 {
    font-family: var(--em-font);
    font-size: 2em;
}

h2 {
    font-family: var(--em-font);
    font-size: 1.5em;
}

h3 {
    font-family: var(--em-font);
    font-size: 1.17em;
}

h4, h5, h6 {
    font-family: var(--em-font);
    font-size: 1em;
    margin-bottom: calc(var(--bottom-margin) / 2);
    margin-top: calc(var(--bottom-margin) / 2);
}

h4 {
    margin-left: 16px;
}

h5 {
    margin-left: 32px;
}

h6 {
    margin-left: 48px;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--main-m-em-background-color);
}

/* Text styles */

strong {
    font-weight: 500;
}

p {
    margin: 0;
}

.paragraph {
    margin-bottom: var(--bottom-margin);
}

.summary {
    padding: 12px;
}

blockquote {
    padding: 12px;
    border-left: 5px solid var(--main-m-em-background-color);
}

blockquote .paragraph:nth-last-child(1) {
    margin-bottom: 0;
}

.highlight, .inline-code {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-s-em-background-color);
    font-size: 0.9em;
}

pre {
    margin: 0;
}

.inline-code {
    border-radius: 8px;
    padding: 2px 4px;
}

.highlight {
    padding: 16px;
    border-radius: 16px;
    margin-bottom: var(--bottom-margin);
}

.highlight > pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.subcategory {
    margin-left: 24px;
    padding-left: 12px;
    border-radius: 4px;
    border-left: 4px solid var(--main-s-em-background-color);
}

.category-note {
    font-size: 0.8em;
    color: var(--menu-description-color);
    margin-bottom: 12px;
}

/* Images */

figure.image {
    margin: 0 0 24px 24px;

    display: flex;
    flex-direction: column;
    width: fit-content;
    float: right;

    gap: 12px;
    padding: 12px;
    border: 2px solid var(--main-m-em-background-color);
    border-radius: 2px;
}

figure.image img {
    max-width: var(--image-width);
    border-radius: 2px;
} 

figure.image figcaption {
    max-width: var(--image-width);
    text-align: center;
    font-style: italic;
    color: var(--main-h-em-background-color);
}

/* Links */

a, a:visited {
    color: inherit;
}

main a {
    font-weight: 500;
    transition: color 0.3s;
}

main a:hover {
    color: var(--main-link-color);
}

.category-note a {
    text-decoration: none;
}

/* Tables */

table {
    /* Center table */
    margin-right: auto;
    margin-bottom: var(--bottom-margin);
}

table, th, td {
    border: 1px solid var(--main-m-em-background-color);
    border-collapse: collapse;
}

th, td {
    padding: 8px 16px 8px 16px;
}

th {
    font-weight: 500;
    text-align: left;
}

/* --- Small screens style --- */

@media screen and (max-width: 950px), screen and (max-height: 400px) {

    :root {
        --image-width: 150px;
        font-size: 14px;
    }
    
    /* Main */

    main {
        margin-left: var(--main-margin);
        margin-right: var(--main-margin);
        width: calc(100% - 2 * var(--main-margin));
    }
}

/* ---------------------------------- */

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #3D7B7B; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #9C6500 } /* Comment.Preproc */
.highlight .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.highlight .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #E40000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #008400 } /* Generic.Inserted */
.highlight .go { color: #717171 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #687822 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #717171; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #767600 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #A45A77 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */